  <div class="contents row" >
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @posts.each do |post| %>
      <div class="content_post" >
      <div class="content_image" style="background-image: url(<%= post.image %>);">

      </div>

      <div class="k_content_content">
      <p>
        <%= simple_format(post.text) %>
      </p>
      <% if user_signed_in? && current_user.id == post.user_id %>
      <ul class="more_list">
            <ul>
              <%= link_to '詳細', "/posts/#{post.id}", method: :get %>
            </ul>
            <% if user_signed_in? && current_user.id == post.user_id %>
              <ul>
                <%= link_to '編集', "/posts/#{post.id}/edit", method: :get %>
              </ul>
              <ul>
                <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
              </ul>
            <% end %>
          </ul>
      <% end %>
      <span class="name">
        <a href="/users/<%= post.user_id %>">
          <span>足元の投稿者</span><%= post.user.nickname %>
        </a>
      </span>
      </div>
    </div>
    <% end %>
  </div>