<div id="form">
  <p class="form-title">Log in</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <p class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </p>

    <p class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </p>

    <% if devise_mapping.rememberable? -%>
      <p class="check">
        <%= f.label :remember_me %><br />
        <%= f.check_box :remember_me %>
      </p>
    <% end -%>

    <p class="submit">
      <%= f.submit "Log in" %>
    </p>
  <% end %>
</div>



<!--
<body>
<div id="form">
    <p class="form-title">Login</p>
    <form action="post">
        <p>Email</p>
        <p class="mail"><input type="email" name="mail" /></p>
        <p>Password</p>
        <p class="pass"><input type="password" name="pass" /></p>
        <p class="check"><input type="checkbox" name="checkbox" />パスワードを保存</p>
        <p class="submit"><input type="submit" value="Login" /></p>
    </form>
</div>
</body>
</html>
-->



