
  <% @posts.each do |post| %>
    <div class="content_post" >
      <div class="content_image" style="background-image: url(<%= post.image %>);">
      </div>

      <div class="k_content_content">


            <ul class="more_list">
              <ul>
                <%= link_to '詳細', "/posts/#{post.id}", method: :get %>
              </ul>
              <ul>
                <%= link_to 'フォロー'%>
              </ul>
              <ul>
                <%= link_to 'どうも！'%>
              </ul>
                <% if user_signed_in? && current_user.id == post.user_id %>
                  <ul>
                    <%= link_to '編集', "/posts/#{post.id}/edit", method: :get %>
                  </ul>
                  <ul>
                    <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
                  </ul>
                <% end %>
            </ul>


        <span class="name">
          <a href="/users/<%= post.user_id %>">
            <span>name: </span><%= post.user.nickname %>
          </a>
        </span>

        <p>
          <%= simple_format(post.text) %>
        </p>

      </div>
    </div>
  <% end %>
</div>