<!DOCTYPE html>
<html>
  <head>
    <title>FootPost</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

    <meta name="viewport"
    content=100%,
    height=480,
    initial-scale=1.0,
    minimum-scale=1.0,
    maximum-scale=2.0,
    user-scalable=yes" />

    </script>
  </head>


  <body>



  <header class="header">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">FootPost</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">好みの足元を探す</button>
        </form>

  </nav>








  <div id="menu">
  <div id="menu-inner">
      <div id="btn-content">
          <span id="menu-btn"><i class="blogicon-reorder"></i> MENU</span>
      </div>
      <ul id="menu-content">
        <% if user_signed_in? %>
          <li>
              <a> <%= current_user.nickname %><i class="blogicon-chevron-down"></i></a>
              <ul class="second-content">
                  <li><a class="post" href="/">ホーム</a></li>
                  <li><a class="post" href="/posts/new">足元を投稿する</a></li>
                  <li><a href="/users/<%= current_user.id %>">マイポスト</a></li>
                  <li><a>登録情報管理</a></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>ログアウト</a></li>
                  <li><a href="/">instagramを覗く</a></li>
              </ul>
          </li>
        <% else %>
          <li>
              <a href="１階層目のリンク"> はじめての人<i class="blogicon-chevron-down"></i></a>
              <ul class="second-content">
                  <li><%= link_to "ログイン", new_user_session_path, class: 'post' %>ログイン</a></li>
                  <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %>新規登録</a></li>
              </ul>
          </li>
        <% end %>
      </ul>
  </div>
  </div>
  <div style="clear:both"></div>
</header><!-- /header -->>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script>
  $(function(){
      var menuBtn = $("#menu-btn"),
          menuContent = $("#menu-content");
      menuBtn.click(function(){
          menuContent.slideToggle();
      });
      $(window).resize(function(){
          var win = $(window).width(),
              p = 960;//19
          if(win > p){
              menuContent.show();
          }else{
              menuContent.hide();
          }
      });
  });
  </script>







    <div class="container">
    <%= yield %>
    </div>

    <footer>
      <p>
        Copyright FootPost 2016.
      </p>


    </footer>
  </body>
</html>

